/* using css instead of tailwind classes cause easier for stuff like this */
.anim-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s linear;
  object-fit: cover;
}

.visible {
  opacity: 100;
}

#loading strong {
  animation: throb 2s infinite;
}


.hidetopofscreen {
  transform: translateY(-80vh);

}

#fartpoopcum {
  transition: transform 1s
}

@keyframes throb {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
